<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<form method="POST">
    <div>
        <label name="email"> Enter your email:</label>
        <input name="email" />
    </div>
    <div>
        <label name="password">Enter your password:</label>
        <input type="password" name="password" />
    </div>
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <!-- <input type="hidden" name="_csrf" value="123lkawjg091u82378429"/> -->
    <div>
        <button>Logon</button>
        <a href="/">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>
<%- include("partials/footer.ejs") %>
