<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<form method="POST"> // i don't think this would be a post method
    <div>
        <button>Logoff</button>
        <a href="/"></a>
    </div>
</form>
<%- include("partials/footer.ejs") %>
